# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
*.tfvars
*.tfvars.json
envs/*/s3backend.hcl
bootstrap/s3backend.hcl

# Ignore the specific folder
bastion-keypair/

# Ignore any pem file
*.pem

# OS / Editor
.vscode/
.DS_Store
